/* ---------- BASIC SETUP ---------- */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
}

label {
    display: block;
}

/* ---------- HEADINGS & TEXT ---------- */
h1 {
    text-align: center;
}


/* ---------- HOME PAGE ---------- */
.home-page {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: yellowgreen;
}

.home-form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-term {

}

.category {
    
}

.category-selector {

}

.submit-btn {
    width: 100px;
}

/* ---------- RESULTS PAGE ---------- */

/* ---------- HEADER ---------- */
header {
    height: 15vh;
    width: 100vw;
    background-color: teal;
}

.logo {
    width: 50px;
}





/* ---------- RESULTS PAGE FORM ---------- */
.results-page-form {
    display: grid;
    grid-template-columns: auto 20px auto;
    grid-auto-rows: auto 10px auto 10px auto;
}

.item-a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
}

.item-b {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item-c {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: right;
}

.item-d {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.item-e {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}


/* ---------- RESULTS PAGE RETURNED RESPONSE ---------- */
.error-message {
    color: red;
}

/* ---------- FOOTER ---------- */
footer {
    width: 100vw;
    height: 8vh;
    background-color: yellowgreen;
}


/*
        <section role="region">
            <h3>Results</h3>
            <ul>
                <li>
                    <h4>Name</h4>
                    <p>show</p>
                    <iframe src="https://www.youtube-nocookie.com/embed/l4J7Qqn_Owk" frameborder="0"></iframe>
                    <p>wiki link?</p>
                    <p>description</p>
                </li>
            </ul>
        </section>
*/